


.testimonial__image-container {
width: 65%;
display: inline-block;
vertical-align: middle;
box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);  
}

.testimonial__image {
width: 100%;
vertical-align: top;

}